@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './null.scss';

$dark-grey: #7a7a7a;
$light-grey: #e7eaf5;

@mixin table-general {
    &__item {
        margin: 0px 0px 20px 0px;
        padding: 10px;
        background: $light-grey;
        ul {
            display: flex;
            align-items: center;
        }
    }
}

@mixin table-row {
    &__item {
        margin: 0px 10px 0px 0px;
        overflow: hidden;
        &_icon {
            flex: 0 0 4%;
        }
        &_name {
            flex: 0 0 17%;
        }
        &_date {
            flex: 0 0 17%;
        }
        &_category {
            flex: 0 0 14%;
        }
        &_content {
            flex: 0 0 17%;
        }
        &_dates-list {
            flex: 0 0 17%;
        }
        &_actions {
            flex: 0 0 8%;
        }
    }
}

@mixin summary-row {
    &__item {
        margin: 0px 10px 0px 0px;
        &_icon {
            flex: 0 0 4%;
        }
        &_name {
            flex: 0 0 40%;
        }
        &_active {
            flex: 0 0 15%;
        }
        &_archived {
            flex: 0 0 15%;
        }
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

body.locked {
    overflow: hidden;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
}

.select-form {
    margin: 10px 0px;
    select {
        border: 1px solid #000;
        padding: 5px;
        background: $dark-grey;
        color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
    }
}
.notes-list {
    @include table-general();
}

.actions {
    display: flex;
    justify-content: flex-end;
}
.list-action {
    margin: 0px 0px 0px 5px;
}
.note {
    @include table-row();
    &__item {
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    transition: all 0.5s ease;
    &:hover {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }
}
.note-icon {
    width: 37px;
    height: 37px;
    background: $dark-grey;
    display: flex;
    padding: 7px;
    border-radius: 50%;
}
.summary {
    margin: 0px 0px 40px 0px;
    @include table-general();
}
.category {
    @include summary-row();
    transition: all 0.5s ease;
    &:hover {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }
}

.header, .summary-header {
    border-radius: 5px;
    background: $dark-grey;
    color: #ffffff;
    font-weight: bold;
}

.header {
    @include table-row();
}

.summary-header {
    @include summary-row();
}

.note-creation {
    margin: 0px 0px 60px 0px;
    display: flex;
    justify-content: flex-end;

    &__btn {
        padding: 10px;
        background: $dark-grey;
        color: #ffffff;
        border-radius: 5px;

        font-size: 16px;
        letter-spacing: 1px;
        
        transition: all 0.5s ease;
        &:hover {
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
        }
    }
}

@mixin formInput {
    margin: 0px 0px 10px 0px;
    border: 1px solid $dark-grey;
    border-radius: 5px;
    padding: 7px;
    font-size: 16px;
}


.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(53, 69, 80, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    &__form {
        display: flex;
        flex-direction: column;
        width: 500px;
        background: #ffffff;
        padding: 30px;
        border-radius: 5px;
    }

    &__input {
        @include formInput();
    }

    &__select {
        @include formInput();
        padding: 0px 7px;
        display: flex;
        justify-content: space-between;
        label {
            padding: 7px 0;
        }
        select {
            font-size: 16px;
            padding: 7px 0;
            border-left: 1px solid $dark-grey;
        }
    }

    &__textarea {
        @include formInput();
        min-height: 120px;
        resize: none;
    }

    &__btn {
        background: $dark-grey;
        color: #ffffff;
        border-radius: 5px;
        padding: 7px;
        font-size: 16px;
    }
}

.d-none {
    display: none;
}