@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

body.locked {
    overflow: hidden;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
}